/* All styling for the page */

{box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Styling for the whole header */
.topnav {
    overflow: hidden;
    background-color: #15965e;
}

/* Styling for the search bar */
.topnav .search-container {
    float: right;
}

/* Styling for the search bar content */
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 500px;
    height: 25px;
}

/* Styling for the search bar submit button */
.topnav .search-container button {
    float: right;
    padding: 8px 12px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


/* Styling for when mouse is hovering over the search bar submit button */
.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;  
    }
}

/* Styling for the fliter */
.topnav .filter {
    float: center;
    padding: 8px 12px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}